// Variables
$sidebar-bg-color: #fff;
$sidebar-color: #60656D;
$icon-bg-color: white;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: start;


  img {
    height: 40px;
    margin-bottom: 0.5rem;
  }

  span {
    font-weight: bold;
    font-size: 1rem;
  }

  .text-sm {
    font-size: 0.9rem;
    color: #60656D;
  }
}

.ps-sidebar-container{
  height: 100vh !important; //to overwrite default css use !important
}


.pro-menu-item {
  margin: 0.3rem 0;

  .pro-item-content {
    font-size: 0.5rem;
    color: #60656D;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  .pro-icon-wrapper {
    background-color: #e0e0e0;
    border-radius: 50%;
  }
}

.pro-sidebar-footer {
  text-align: center;
  padding: 1rem;
  color: #60656D;
}
